<h1>Hello World</h1>
<h2>Halo <%= name %></h2>
<p>My first NodeJs Web Server</p>

<h4>Daftar Mahasiswa</h4>
<% if (mahasiswa.length < 1) { %>
<p>Belum ada data mahasiswa</p>

<% } else{ %> <% mahasiswa.forEach(mhs => { %>
<ul>
  <li>Nama: <%= mhs.nama %></li>
  <li>email: <%= mhs.email %></li>
</ul>
<% }) %> <% } %>
